<form class="badge-light">
  <div class="row form-group">
    <h1 class="text-center text-primary mb-4 mt4">Películas <i class="fas fa-photo-video"></i></h1>
    <label for="categoria" class="col-2 col-form-label"></label>
    <!-- <input type="text" id="categoria" name="categoria" [(ngModel)]="categoria"> -->
    <select name="nomPelicula" id="nomPelicula" class="form-control col-10" [(ngModel)]="nomPelicula">
      <option value="fast and furious">rápidos y furiosos</option>
      <option value="superman">superman</option>
      <option value="final destination">destino final</option>
      <option value="sharknado">sharknado</option>
    </select>
  </div>
  <div class="row form-group">
    <button type="button" class="btn container mb-4 mt-4 col-3 btn-outline-secondary form-control" (click)="cargarPeliculas()">cargar peliculas</button>
  </div>
</form>

<!-- <div>
  <div class="col-12" *ngFor="let item of peliculas">
    <img src="{{item.image}}">
    <p>{{item.id}}</p>
    <p>{{item.title}}</p>
  </div>
</div> -->


  <div class="container">
    <div class="row g-2">
      <div class="col-8">
        <div class="container">
          <div class="row g-3">
            <div class="col-md-4 col-sm-6 col-6" *ngFor="let item of peliculas">
              <div class="card">
                <img src="{{item.image}}" class="card-img-top peli" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p>id pelicula: {{item.id}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img src="{{popup}}" class="card-img-top" alt="...">
      </div>
    </div>
  </div>

  