<h1 class="text-center text-primary">Películas <i class="fas fa-photo-video"></i></h1>
  <div class="container">
    <div class="row g-2">
      <div class="col-8">
        <div class="container">
          <div class="row g-3">
            <div class="col-md-4 col-sm-6 col-6">
              <div class="card">
                <img src="img/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Annabelle 3</h5>
                  <p class="card-text">Viene a casa, es lo único que sé ... no la ví, me dá miedo. </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
              <div class="card">
                <img src="img/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Avatar</h5>
                  <p class="card-text">De nuevo es la película más taquillera. Un hombre en otro mundo.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
              <div class="card">
                <img src="img/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Robin Hood</h5>
                  <p class="card-text">Me gustó la portada, ni sabía que existía. Pero parece que está buena</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
              <div class="card">
                <img src="img/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Venom</h5>
                  <p class="card-text">No la recomiendo si eres fan de venom. Recomiendo discreción al verla.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
              <div class="card">
                <img src="img/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Señor de los anillos</h5>
                  <p class="card-text">Te aviso cuando tenga ganas de verla ... No, enserio... la primera dura mas de 3 horas.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6">
              <div class="card">
                <img src="img/6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maverick</h5>
                  <p class="card-text">que te digo... tambien me gustó su portada.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img src="img/7.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
