<h1 class="text-center text-primary">Traductor <i class="fas fa-language"></i></h1>

<div class="container">
  <div class="row text-center col-12">
    <div class="col-6 col-sm-6 col-md-3 mt-4">
      <button type="button" class="btn btn-secondary"><img src="img/italia.jpg" class="pequeña" alt="..."><h3>Italiano</h3></button>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mt-4">
      <button type="button" class="btn btn-secondary"><img src="img/francia.jpg" class="pequeña" alt="..."><h3>Francia</h3></button>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mt-4">
      <button type="button" class="btn btn-secondary"><img src="img/inglaterra.jpg" class="pequeña" alt="..."><h3>Inglaterra</h3></button>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mt-4">
      <button type="button" class="btn btn-secondary"><img src="img/españa.jpg" class="pequeña" alt="..."><h3>España</h3></button>
    </div>
    <div class="mb-3 mt-4 ">
      <textarea class="form-control" id="message" name="message" placeholder="Estoy traduciendo este texto con esta maravillosa app!" rows="7"></textarea><i class="fas fa-2x fa-microphone p-1" style="color: gray;"></i>
    </div>
  </div>
</div>
<div class="container text-center">
  <button type="button" class="btn btn-primary col-12"><h2>Traducir</h2><i class="fas fa-3x fa-language"></i></button>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-6 col-md-3 col-sm-6 mt-4 ">
      <button type="button" class="btn btn-secondary "><img src="img/italia.jpg" class="pequeña" alt="..."><h3>Italiano</h3></button>
    </div>
    <div class="col-6 col-md-3 col-sm-6 mt-4">
      <button type="button" class="btn btn-secondary"><img src="img/francia.jpg" class="pequeña" alt="..."><h3>Francia</h3></button>
    </div>
    <div class="col-6 col-md-3 col-sm-6 mt-4">
      <button type="button" class="btn btn-secondary"><img src="img/inglaterra.jpg" class="pequeña" alt="..."><h3>Inglaterra</h3></button>
    </div>
    <div class="col-6 col-md-3 col-sm-6 mt-4">
      <button type="button" class="btn btn-secondary"><img src="img/españa.jpg" class="pequeña" alt="..."><h3>España</h3></button>
    </div>
    <div class="mb-3 mt-4">
      <textarea class="form-control" id="message" name="message" placeholder="I am translating this text with this wonderful app!"  rows="7"></textarea><i class="fas fa-2x fa-volume-up p-1" style="color: gray;"></i>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-md-4">
      <i class="fas fa-3x fa-copy" style="color: seagreen;"> Copiar</i>
    </div>
    <div class="col-md-4">
      <i class="fas fa-3x fa-trash-restore" style="color: gray;"> Limpiar</i>
    </div>
    <div class="col-md-4">
      <i class="fas fa-3x fa-times" style="color: maroon;"> Salir</i>
    </div>
  </div>
</div>